name: ktor_deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Deployment
        id: deployment
        uses: bobheadxi/deployments@v1.4.0
        with:
          step: start
          token: ${{ github.token }}
          env: production
          ref: ${{ github.sha }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Grant Build Permission
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew clean build

      - name: Deploy Prod use SCP
        uses: appleboy/scp-action@master
        with:
          username: ubuntu
          host: ${{ secrets.HOST }}
          key: ${{ secrets.PRIVATE_KEY }}
          source: "./app/build/libs/*.jar"
          target: "/home/ubuntu/deploy/study-ktor"
          strip_components: 2

      - name: Execute Server Init Script
        uses: appleboy/ssh-action@master
        with:
          username: ubuntu
          host: ${{ secrets.HOST }}
          key: ${{ secrets.PRIVATE_KEY }}
          script_stop: true
          script: |
            killall java
            cd deploy/study-ktor
            nohup java -jar libs/app-all.jar 1> /dev/null 2>&1 &

      - name: Update GitHub Deployment Status
        if: always()
        uses: bobheadxi/deployments@v1.4.0
        with:
          step: finish
          token: ${{ github.token }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env: production
